@page
@model LearningDiary.WebUI.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div>
    <h1 class="display-4">What is your nickname?</h1>
    <br />
    <br />
    <form method="post" class="form-inline">
        <div class="form-group text-center">
            <div>
                <input asp-for="Nickname" class="form-control-lg" placeholder="nickname" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" class="btn btn-primary btn-lg">Enter</button>
            </div>
        </div>

    </form>
</div>