<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LearningDiary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                @if (User.Identity.IsAuthenticated)
                {
                    <form method="post" asp-page="/Account/Login" asp-page-handler="Logout">
                        <h1 class="display-4">Hello @User.Identity.Name!</h1>
                        <p class="lead">Have you ever felt need of recording your learning progress?</p>
                        <button type="submit" class="btn btn-primary btn-lg">Bye for now</button>
                    </form>
                }
                else
                {
                    <h1 class="display-4">Learning Diary</h1>
                    <p class="lead">Have you ever felt need of recording your learning progress?</p>
                }
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

